dt {
  font-weight: bold;
  margin: 5px 0;
}

dd {
  margin: 0;
  grid-column-start: 2;
  color: coral;
}

.discount {
  margin: auto;
    width: 20px;
    height: 20px;
    color: coral;
    animation: mydiscount 4s linear infinite;
}

@keyframes mydiscount {
  50% {
 color: red;
    transform: rotate(-66deg);
  }

  100% {
    color: yellow;
    transform: rotate(66deg);
  }
}